
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All Products</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
 
</head>
<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <%- include('../layout/sidebar') %>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <%- include('../layout/header') %>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="text-end">
                <a href="/products/create"  class="btn btn-primary">Add New</a>
              </div>
              <table class="table table-border">
                <tr>
                  <th>SR No.</th>
                  <th>Product Name</th>
                  <th> Price </th>
                  <th>Des </th>
                  <th>Image</th>
                  <th>Operation</th>
                </tr>
                <tbody>
                  <% products.forEach((product, index) => { %>
                      <tr>
                        <td><%= index +1 %></td>
                        <td><%= product.name %></td>
                          <td><%= product.price %></td>
                          <td><%= product.discount %>%</td>
                          <td>
                              <img src="/images/update/<%= product.image %>" alt="<%= product.name %> Image" width="50" height="50">
                          </td>
                          <td><a href="/products/edit/<%= product._id %>" class="btn btn-primary">Edit</a>
                            <a href="/products/delete/<%= product._id %>" class="btn btn-danger">Delete</a></td>

                      </tr>
                  <% }); %>
              </tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
</body>

</html>